@media (max-width: 768px) {
	.graphBlock {
		position: absolute;
		top: 22vh;
		height: 20vh;
		width: 100%;

		.graph {
			position: absolute;
			height: 25vh;
			bottom: 13%;
			transition: all 0.5s ease-in-out;
		}

		.graphResult {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			z-index: 1;
			color: greenyellow;
			font-size: 8vw;
			bottom: 12vh;
		}

		.dateStrip {
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: space-between;
			width: 100%;
			color: #546076;
		}
		
		.singleDate {
			font-size: 4vw;
			font-weight: bold;
			margin: 0 16px;
		}
	}
}