@media (max-width: 768px) {
	.botsBlock {
		position: absolute;
		top: 44vh;
		height: 20vh;
		width: 95%;
		left: 2.5%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
		gap: 2px;
		border-radius: 5px;
		
		.bot-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #252d40;
			border-radius: 8px;
			padding: 1.2vh;
			text-align: center;
			transition: background 0.3s ease-in-out;
		}

		.bot-card:active {
			background: radial-gradient(circle, #252d40 30%, #283750 100%); /* Градиент фона при нажатии */
		}

		.bot-icon {
			margin-top: 5px;
			width: 12vw;
		}
		.bot-name {
			font-size: 3vw;
			margin: 5px;
			color: #F1F1F1;
		}
		.bot-change {
			margin: 0;
		}

		.arrow {
			position: absolute;
				width: 18vw;
				z-index: 0;
		}

		.arrow-1 {
			transform: rotate(260deg);
			top: 10vh;
			left: 12vh;
		}
		.arrow-2 {
			transform: rotate(0deg);
			top: 11vh;
			right: 11.5vh;
		}
		.arrow-3 {
			transform: rotate(45deg);
			top: 18vh;
			left: 10vh;
		}
		.arrow-4 {
			transform: rotate(45deg);
			top: 18vh;
			right: 11.5vh;
		}
	}
}

@media (max-height: 720px) {
	.botsBlock {
		height: 10vh;
		
		.bot-card {
			padding: 0.5vh;
		}

		.bot-icon {
			margin-top: 1vh;
			width: 6vh;
		}
		.bot-name {
			font-size: 1.5vh;
			margin: 1vh;
		}
		.bot-change {
			font-size: 2vh;
		}

		.arrowBlock {
			position: absolute;
			width: 100%;
			height: 20vh;

			.arrow {
				position: absolute;
				 width: 18vw;
			}

			.arrow .arrow-1 {
				transform: rotate(260deg);
				top: 10vh;
				left: 12vh;
			}
			.arrow .arrow-2 {
				transform: rotate(45deg);
				top: 18vh;
				left: 27.5vh;
			}
			.arrow-3 {
				transform: rotate(45deg);
				top: 18vh;
				left: 11vh;
			}
			.arrow-4 {
				transform: rotate(360deg);
				top: 18vh;
				left: 27.5vh;
			}
		}
	}
}