@mixin arrowLeft ($rot, $top, $left) {
	transform: rotate($rot);
	top: $top;
	left: $left;
}

@mixin arrowRight ($rot, $top, $right) {
	transform: rotate($rot);
	top: $top;
	right: $right;
}

@media (max-width: 768px) {
	.botsBlock {
		position: absolute;
		top: 44vh;
		height: 20vh;
		width: 95%;
		left: 2.5%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
		gap: 2px;
		border-radius: 5px;
		
		.bot-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #252d40;
			border-radius: 8px;
			padding: 1.2vh;
			text-align: center;
			transition: background 0.3s ease-in-out;
		}

		.bot-card:active {
			background: radial-gradient(circle, #252d40 30%, #283750 100%); /* Градиент фона при нажатии */
		}

		.bot-icon {
			margin-top: 5px;
			width: 12vw;
		}
		.bot-name {
			font-size: 3vw;
			margin: 5px;
			color: #F1F1F1;
		}
		.bot-change {
			margin: 0;
		}

		.arrow {
			position: absolute;
			width: 18vw;
			z-index: 0;
		}

		.arrow-1 {
			@include arrowLeft(260deg, 10vh, 12vh)
		}
		.arrow-2 {
			@include arrowRight(0deg, 11vh, 11.5vh)
		}
		.arrow-3 {
			@include arrowLeft(45deg, 18vh, 11vh)
		}
		.arrow-4 {
			@include arrowRight(45deg, 18vh, 11.5vh)
		}
	}
}

@media (max-height: 720px) {
	.botsBlock {
		height: 10vh;
		
		.bot-card {
			padding: 0.5vh;
		}

		.bot-icon {
			margin-top: 1vh;
			width: 6vh;
		}
		.bot-name {
			font-size: 1.5vh;
			margin: 1vh;
		}
		.bot-change {
			font-size: 2vh;
		}
	}
}