@media (max-width: 768px) {
	.toolPanel {
		position: absolute;
		bottom: 0;
		height: 9vh;
		width: 100%;
		background-color: #232c3e;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.toolItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px;
			width: 20%;
		}
		
		.toolIcon {
			width: 60%;
			margin-bottom: 6px;
		}

		.toolItem:last-child::after {
			content: "";
			position: absolute;
			right: 5vw;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: orange;
		}
		
		.toolName {
			font-size: 2vw;
			color: #546076;
		}
	}
}

@media (max-height: 720px) {
	.toolPanel {
		height: 8vh;
		
		.toolIcon {
			width: 3vh;
		}

		.toolName {
			font-size: 1.4vh;
		}
	}
}